<!--Footer Template-->

<footer>

    <div>
        <img class="footer-img" src="/images/logo_blanc.png" alt="White Mr. Coffee logo, icon only">
    </div>
    <p>Suivez nous sur les réseaux sociaux !</p>

    <div class="icons">
        <img class="icon-resize" src="/images/logo_linkedin.png" alt="Linkedin logo">
        <img class="icon-resize" src="/images/logo_twitter.png" alt="Twitter logo">
        <img class="icon-resize" src="/images/logo_facebook.png" alt="Facebook logo">
    </div>

</footer>