<!--Header-->

<header>
    <nav>
        <div>
            <img class="logo-resize" src="/images/full_logo_white.png"
                alt="white Mr Coffee logo, icon and text next to each other">
        </div>
        <div class="menu-items">
            <div><a href="index.html"></a>Accueil</div>
            <div><a href="about.html"></a>Qui sommes-nous?</div>
            <div><a href="contact.html"></a>Nous contacter</div>
            <div><a>Schedule</a></div>
        </div>
    </nav>
</header>