<!--Step 3: Individual Display Schedules Template-->

<h1> List of Schedules </h1>
<table>
    <tr>
        <th>User ID</th>
        <th>Day</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
    <% for(let i=0; i < schedules.length; i++) { %>
        <tr>
            <td>
                <%=schedules[i].user_id %>
            </td>
            <td>
                <%=schedules[i].day %>
            </td>
            <td>
                <%=schedules[i].start_at %>
            </td>
            <td>
                <%=schedules[i].end_at %>
            </td>
        </tr>
        <%} %>
</table>