<!--Step 3: Individual Schedule Form Template-->

<h1>New Schedule Form</h1>

<div class="form-container">
    <form action="/schedules" method="POST">
        <label>User ID *</label>
        <input type="text" name="user_id" required>
        <label>Day *</label>
        <input type="text" name="day" required>
        <label>Start At *</label>
        <input type="text" name="start_at" required>
        <label>End At *</label>
        <input type="text" name="end_at" required>
        <input type="submit" value="Submit">
    </form>
</div>