<h1> List of Schedules </h1>
<div class = "page-space"></div>


<ol start = "1">
    <% for(let i = 0; i < schedules.length; i++) { %>
    <li><b>User ID:</b> <%=schedules[i].user_id %>, <br></br><b>Day</b> <%=schedules[i].day %>,<br></br> 
        <b>Start:</b> <%=schedules[i].start_at %> <br></br> <b>End:</b> <%=schedules[i].start_at %> </li>
    <%} %>
</ol>

