<!--Step 3: Individual Specific Schedule Template-->

<h1> Specific Schedule Request </h1>
<table>
    <tr>
        <th>User ID</th>
        <th>Day</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
    <% for(let i=0; i < specificSchedule.length; i++) { %>
        <tr>
            <td>
                <%=specificSchedule[i].user_id %>
            </td>
            <td>
                <%=specificSchedule[i].day %>
            </td>
            <td>
                <%=specificSchedule[i].start_at %>
            </td>
            <td>
                <%=specificSchedule[i].end_at %>
            </td>
        </tr>
        <%} %>
</table>