<div class="users">
<h1> List of Users </h1>


<div class = "users-list">
    <% for(let i = 0; i < userList.length; i++) { %>
    <div class = "user-item">
        <div>
            Name: <%=userList[i].firstname %>
        </div>
        <div>
            Last Name: <%=userList[i].lastname %>
        </div>
        <div>
            Email Address:<%=userList[i].email %>
        </div>
    </div>
    <%} %>
</div>
</div>



   
