<!--Step 3: Individual Display Users Template-->

<h1> List of Users </h1>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    <% for(let i=0; i < userList.length; i++) { %>
        <tr>
            <td>
                <%=userList[i].firstname %>
            </td>
            <td>
                <%=userList[i].lastname %>
            </td>
            <td>
                <%=userList[i].email %>
            </td>
        </tr>
        <%} %>
</table>